.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
}
.container:hover {
  background: var(--c-primary);
}
.avatar {
  margin-right: 8px;
}
.friend_info {
  flex: 1 1 auto;
}
.friend_info h2 {
  font-size: 1.25rem;
  line-height: 1.75;
}
.time {
  align-self: flex-start;
  font-size: 0.9rem;
  color: #333;
}
