.sidebar {
  display: none;
}
.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chat header {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--c-secondary);
  padding: 0 8px;
  column-gap: 8px;
}
.chat header button {
  height: 100%;
  border: none;
  background: transparent;
  cursor: pointer;
}
.chevron {
  width: 28px;
  height: 28px;
}
.chat header h2 {
  font-size: 1.625rem;
}
.messages {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 4%;
  row-gap: 16px;
}
.send {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 0 16px;
  border-top: 1px solid var(--c-secondary);
}
.send input {
  width: 100%;
  height: 100%;
  padding: 16px;
  font-size: 1.125rem;
  background: transparent;
  border: none;
  outline: none;
}
.send button {
  display: flex;
  padding: 8px;
  background: var(--c-primary);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.send button:hover {
  transform: scale(1.1);
  background: var(--c-primary-hover);
}
.send_btn {
  width: 32px;
  height: 32px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .sidebar {
    display: block;
    flex: 0 0 384px;
    border-right: 1px solid var(--c-secondary);
  }
  .chat {
    flex: 1 1 auto;
  }
}
