.container {
  min-height: 100vh;
}
.sidebar {
  flex: 0 0 384px;
  border-right: 1px solid var(--c-secondary);
}
.main {
  display: none;
}
.chat_logo {
  width: 80px;
  height: 80px;
}
.main p {
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    flex: 0 0 384px;
  }
}
